# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ser

/ApplicationCentrale/dist/
/librairieMyVariousUtils/dist/
/Application Gestion/dist/

/ApplicationCentrale/build/
/librairieMyVariousUtils/build/
/Application Gestion/build/

*/Logs/
